*{
    box-sizing: border-box;
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
}
#gallery{
    width: 1000px;
    margin: 20px auto;
}
.item-container{
    padding: 10px;
    width: 25%;
    float: left;
}
.gallery-item{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.gallery-item:hover{
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.gallery-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: opacity 200ms ease;
}
.gallery-item img:hover{
    opacity: 0.8;
}
.description{
    text-align: center;
    padding: 15px;
}
